@font-face {
  font-family: myfont;
  src: url(../svg/fonts/Oxygen-Regular.ttf);
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-family: myfont;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
body {
  line-height: 1;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
}
input,
select {
  vertical-align: middle;
}
.clear {
  *zoom: 1;
  display: block;
}
.clear:after {
  content: "clear";
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
.title {
  width: 70%;
  color: #fff;
  font-size: 48px;
  text-align: center;
  padding-bottom: 62.4px;
  font-weight: 600;
  margin: 0 auto;
}
.title:after {
  content: " ";
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #FFFFFF;
  margin: 0 1%;
  vertical-align: middle;
}
.title:before {
  content: " ";
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #FFFFFF;
  margin: 0 1%;
  vertical-align: middle;
}
.title_1 {
  width: 70%;
  color: #333;
  font-size: 48px;
  text-align: center;
  padding-bottom: 62.4px;
  font-weight: 600;
  margin: 0 auto;
}
.title_1:after {
  content: " ";
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #333;
  margin: 0 1%;
  vertical-align: middle;
}
.title_1:before {
  content: " ";
  display: inline-block;
  width: 200px;
  height: 1px;
  background: #333;
  margin: 0 1%;
  vertical-align: middle;
}
nav {
  text-align: center;
  font-size: 14px;
  line-height: 4;
  display: none;
}
nav a {
  color: #333;
  margin-right: 20px;
}
.logo {
  background: #27da93;
  padding: 0 8%;
}
.logo a {
  color: #fff;
  font-size: 16px;
  line-height: 60px;
}
.logo a i {
  padding-right: 8px;
  text-align: center;
}
.logo a:first-child {
  font-size: 32px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.logo a:nth-child(2),
.logo a:nth-child(3),
.logo a:nth-child(4),
.logo a:last-child {
  float: right;
  margin-right: 15px;
}
.logo a:nth-child(2) {
  font-size: 25px;
}
.banner {
  overflow: hidden;
  position: relative;
  height: 550px;
}
.banner-img {
  position: relative;
}
.banner-img img {
  width: 100%;
  position: absolute;
}
.banner-text {
  color: #fff;
  position: absolute;
  left: 10%;
  top: 50%;
  margin-top: -50px;
  letter-spacing: 3px;
}
.banner-text p:first-child {
  font-size: 44px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-text p span {
  border-bottom: 7px solid #27da93;
}
.banner-text p:last-child {
  font-size: 27px;
  text-transform: capitalize;
  padding-top: 30px;
}
.banner-yuan {
  position: absolute;
  right: 11%;
  bottom: 10%;
}
.banner-yuan i {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #333333;
  float: left;
  margin-left: 10px;
}
.up-nav {
  width: 1140px;
  height: 120px;
  position: relative;
  background: #fff;
  margin: -24px auto 0;
  display: flex;
}
.up-nav a {
  color: #919090;
  display: block;
  text-align: center;
  flex: 1;
  font-size: 30px;
  padding-top: 37px;
}
.up-nav a:after {
  display: block;
  font-size: 16px;
  line-height: 30px;
}
.up-nav a:first-child:after {
  content: "buy";
}
.up-nav a:nth-child(2):after {
  content: "Rent";
}
.up-nav a:nth-child(3):after {
  content: "Hostels";
}
.up-nav a:nth-child(4):after {
  content: "Resale";
}
.up-nav a:nth-child(5):after {
  content: "Home Loans";
}
.up-nav a:nth-child(6):after {
  content: "Projects";
}
.up-nav a:nth-child(7):after {
  content: "Dealers";
}
.most {
  min-height: 500px;
  background: url("../upload/images/back1.jpg") repeat;
  background-size: 100%;
}
.most > div {
  width: 1170px;
  padding-top: 64px;
  margin: 0 auto;
  overflow: hidden;
}
.most-list-main {
  width: 1170px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  padding-bottom: 80px;
}
.most-list {
  flex: 1;
  box-sizing: border-box;
  padding: 0 15px;
  margin-top: -2px;
}
.most-list img {
  width: 100%;
}
.most-list-top {
  position: relative;
  margin-bottom: -4px;
}
.most-list-top > span {
  position: absolute;
  right: 0;
  top: 50%;
  display: block;
  line-height: 39px;
  background: #27da93;
  color: #FFFFFF;
  font-size: 14px;
  padding: 0 5px;
  margin-top: -20px;
}
.most-list-text {
  height: 80px;
  background: #fff;
  padding: 10px;
}
.most-list-text h2 {
  font-size: 20px;
  color: #27da93;
  line-height: 30px;
}
.most-list-text p {
  font-size: 16px;
  line-height: 30px;
}
.services {
  width: 1170px;
  margin: 0 auto;
  padding: 80px 0 60px;
  overflow: auto;
}
.services > .title_1 {
  padding-bottom: 20px;
}
.services-dis {
  text-align: center;
  font-size: 12px;
  color: #a3a3a3;
}
.services-list {
  margin-top: 60px;
}
.services-list > div {
  float: left;
  width: 50%;
  height: 120px;
  overflow: hidden;
  margin-bottom: 40px;
}
.services-list > div i {
  display: block;
  float: left;
  width: 20%;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  width: 80px;
  border: 2px solid #27da93;
  border-radius: 50%;
  line-break: 80px;
  color: #a3a3a3;
}
.services-title {
  float: left;
  width: 80%;
  padding-left: 35px;
}
.services-list > div h3 {
  font-size: 24px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #27da93;
}
.services-list > div p {
  font-size: 16px;
  color: #a3a3a3;
  line-height: 20px;
  line-height: 27px;
}
.the {
  width: 100%;
  background: url(../upload/images/ab.jpg) center;
  background-size: 100%;
  min-height: 250px;
  overflow: auto;
}
.the > div {
  width: 1170px;
  margin: 0 auto;
}
.the > div > div {
  width: 35%;
  background: #27da93;
  float: right;
  padding: 30px;
  line-height: 40px;
  margin-top: 60px;
}
.the > div > div h3 {
  font-size: 45px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}
.the > div > div p {
  font-size: 16px;
  color: #fff;
}
.the > div > div a {
  border: 1px solid #fff;
  font-size: 16px;
  color: #fff;
  padding: 5px;
}
.sea {
  width: 100%;
  overflow: auto;
  padding: 50px 0;
}
.sea .phone {
  margin: 0 auto;
  width: 1170px;
}
.sea .phone .phone-img,
.sea .phone .phone-text {
  width: 50%;
  float: left;
  padding: 0 10%;
}
.sea .phone .phone-text h3 {
  font-size: 45px;
  font-weight: 100;
}
.sea .phone .phone-text h5 {
  font-size: 20px;
  line-height: 70px;
  font-weight: 100;
}
.sea .phone .phone-text p {
  color: #a6abaf;
  line-height: 30px;
  font-size: 16px;
}
.sea .phone .phone-text a {
  width: 150px;
  height: 30px;
  border: 1px solid #32da9d;
  color: #32da9d;
  margin: 20px;
  display: block;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}
@media screen and (max-width: 1000px) and (min-width: 500px) {
  .most-list-text {
    height: auto;
    padding: 15px 10px;
  }
  .services {
    width: 100%;
    padding: 40px 0 30px;
  }
  .services .title_1 {
    width: 100%;
    font-size: 30px;
  }
  .services .title_1:after {
    width: 100px;
  }
  .services .title_1:before {
    width: 100px;
  }
  .services-list > div {
    width: 100%;
    padding: 0 30px;
    margin-bottom: 30px;
  }
  .services-list > div i {
    font-size: 32px;
    width: 83px;
    border-radius: 50%;
    line-break: 83px;
  }
  .services-title {
    padding-left: 45px;
  }
  .services-list > div p {
    font-size: 14px;
  }
  .logo {
    padding: 0 2%;
  }
  .banner {
    height: 280px;
  }
  .banner-text p:first-child {
    font-size: 40px;
  }
  .banner-text p:last-child {
    font-size: 22px;
    padding-top: 20px;
  }
  .up-nav {
    width: 94%;
  }
  .up-nav a:after {
    font-size: 12px;
  }
  .most {
    min-height: 400px;
  }
  .most .title {
    width: 100%;
    font-size: 40px;
  }
  .most .title:after {
    width: 100px;
  }
  .most .title:before {
    width: 100px;
  }
  .most > div {
    width: 94%;
    padding-top: 34px;
  }
  .most-list-main {
    width: 100%;
    padding-bottom: 60px;
  }
  .most-list {
    padding: 0 5px;
  }
  .most-list-text {
    height: auto;
    padding: 15px 10px;
  }
  .the > div {
    width: 90%;
  }
  .the > div > div {
    width: 50%;
  }
  .sea .phone {
    width: 100%;
  }
  .sea .phone .phone-img,
  .sea .phone .phone-text {
    clear: both;
    width: 90%;
  }
  .sea .phone .phone-img {
    padding: 10% 20%;
  }
}
@media screen and (max-width: 499px) and (min-width: 300px) {
  nav {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.1rem;
    padding: 0 0.5rem;
  }
  nav a {
    color: #333;
    display: block;
  }
  .logo {
    background: #27da93;
    padding: 0 1rem;
    line-height: 4rem;
  }
  .logo a {
    color: #fff;
    font-size: 1.5rem;
  }
  .logo a i {
    padding-right: 0.6rem;
    text-align: center;
  }
  .logo a:first-child {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }
  .logo a:nth-child(2),
  .logo a:nth-child(3),
  .logo a:nth-child(4),
  .logo a:last-child {
    float: right;
    margin-right: 0.5rem;
  }
  .logo a:nth-child(2) {
    font-size: 2.1rem;
  }
  .logo a:nth-child(5) {
    display: none;
  }
  .banner {
    overflow: hidden;
    position: relative;
    min-height: 16.5rem;
  }
  .banner-img {
    position: relative;
    min-height: 16.5rem;
  }
  .banner-img img {
    width: 100%;
    min-height: 16.5rem;
    position: absolute;
  }
  .banner-text {
    color: #fff;
    position: absolute;
    left: 10%;
    top: 50%;
    margin-top: -2.5rem;
    letter-spacing: 0.1rem;
  }
  .banner-text p:first-child {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .banner-text p span {
    border-bottom: 0.6rem solid #27da93;
  }
  .banner-text p:last-child {
    font-size: 1.5rem;
    text-transform: capitalize;
    padding-top: 1.5rem;
  }
  .banner-yuan {
    position: absolute;
    right: 11%;
    bottom: 10%;
  }
  .banner-yuan i {
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #333333;
    float: left;
    margin-left: 1rem;
  }
  .up-nav {
    width: 90%;
    height: 4rem;
    position: relative;
    background: #fff;
    margin: -1.2rem auto 0;
    display: flex;
  }
  .up-nav a {
    color: #919090;
    display: block;
    text-align: center;
    flex: 1;
    font-size: 2.2rem;
    padding-top: 1rem;
  }
  .most {
    background: url("../upload/images/back1.jpg") repeat;
    background-size: 100%;
  }
  .title {
    width: 90%;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 600;
    margin: 0 auto;
  }
  .title:after,
  .title:before {
    content: " ";
    display: inline-block;
    width: 4rem;
    height: 0.1rem;
    background: #FFFFFF;
    margin: 0 1%;
    vertical-align: middle;
  }
  .most > div {
    width: 90%;
    padding-top: 2rem;
    margin: 0 auto;
    overflow: hidden;
  }
  .most-list-main {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 8rem;
  }
  .most-list {
    flex: 1;
    box-sizing: border-box;
    padding: 1rem 0;
    margin-top: -0.2rem;
  }
  .most-list img {
    width: 100%;
  }
  .most-list-top {
    position: relative;
    margin-bottom: -4px;
  }
  .most-list-top > span {
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    line-height: 39px;
    background: #27da93;
    color: #FFFFFF;
    font-size: 14px;
    padding: 0 5px;
    margin-top: -20px;
  }
  .most-list-text {
    height: 80px;
    background: #fff;
    padding: 10px;
  }
  .most-list-text h2 {
    font-size: 20px;
    color: #27da93;
    line-height: 30px;
  }
  .most-list-text p {
    font-size: 16px;
    line-height: 30px;
  }
  .services {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0 2rem;
    overflow: auto;
  }
  .title_1 {
    width: 90%;
    color: #333;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 600;
    margin: 0 auto;
  }
  .title_1:after,
  .title_1:before {
    content: " ";
    display: inline-block;
    width: 4rem;
    height: 0.1rem;
    background: #333;
    margin: 0 1%;
    vertical-align: middle;
  }
  .services > .title_1 {
    padding-bottom: 2rem;
  }
  .services-dis {
    text-align: center;
    font-size: 12px;
    color: #a3a3a3;
  }
  .services-list {
    margin-top: 3rem;
  }
  .services-list > div {
    width: 100%;
    height: 12rem;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  .services-list > div i {
    display: block;
    float: left;
    font-size: 2rem;
    text-align: center;
    width: 4rem;
    height: 4rem;
    margin: 0 1.5rem 8rem 0;
    border: 2px solid #27da93;
    border-radius: 50%;
    line-height: 4rem;
    color: #a3a3a3;
  }
  .services-list > div h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: #27da93;
  }
  .services-list > div p {
    font-size: 1.5rem;
    color: #a3a3a3;
    line-height: 2rem;
  }
  .the {
    width: 100%;
    background: url(../upload/images/ab.jpg) center;
    background-size: 100%;
    min-height: 15rem;
    overflow: auto;
  }
  .the > div {
    width: 90%;
    margin: 0 auto;
  }
  .the > div > div {
    width: 90%;
    background: #27da93;
    float: right;
    padding: 1rem;
    line-height: 2.5rem;
    margin-top: 3rem;
  }
  .the > div > div h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1rem;
  }
  .the > div > div p {
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
  }
  .the > div > div a {
    border: 1px solid #fff;
    font-size: 1.5rem;
    color: #fff;
    padding: 0.5rem;
  }
  .sea {
    width: 100%;
    overflow: auto;
    padding: 1.5rem 0;
  }
  .sea .phone {
    margin: 0 auto;
    width: 90%;
  }
  .sea .phone .phone-img,
  .sea .phone .phone-text {
    width: 100%;
    padding: 1rem;
  }
  .sea .phone .phone-text h3 {
    font-size: 2.5rem;
    font-weight: 100;
  }
  .sea .phone .phone-text h5 {
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 100;
  }
  .sea .phone .phone-text p {
    color: #a6abaf;
    line-height: 2rem;
    font-size: 1.5rem;
  }
  .sea .phone .phone-text a {
    width: 15rem;
    height: 3rem;
    border: 1px solid #32da9d;
    color: #32da9d;
    margin: 2rem 0 0 0;
    display: block;
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=index-phone.css.map */
